@model IEnumerable<NicholasHalmagyiFilip.DataModelCore.Models.Depot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepotName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepotName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepotId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepotId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepotId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
