@model NicholasHalmagyiFilip.DataModelCore.Models.DrugUnit

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DrugUnit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugUnitPickNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugUnitPickNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugUnitDepot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugUnitDepot.DepotId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugUnitDrugType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugUnitDrugType.DrugTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DrugUnitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
