@model IEnumerable<NicholasHalmagyiFilip.DataModelCore.Models.DrugUnit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrugUnitPickNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugUnitDepot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugUnitDrugType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugUnitPickNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugUnitDepot.DepotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugUnitDrugType.DrugTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DrugUnitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DrugUnitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DrugUnitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
