@model IEnumerable<NicholasHalmagyiFilip.DataModelCore.Models.DrugType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrugTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight) (pounds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DrugTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DrugTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DrugTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
